doctype html
html
    head
        style
            include style.css

    body
        div.header

            block content

        div.footer
            | Hello
            br
            | Your dream_shop
            a(href=frontendUrl) Our Website
